<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agroup.store.mapper.MessageMapper">

    <insert id="addMessage" parameterType="com.agroup.store.domain.Message">
        insert into message (senderid, receiverid, goodsid, sendtime, type, content)
        values (#{senderid,jdbcType=INTEGER}, #{receiverid,jdbcType=INTEGER}, #{goodsid, jdbcType=INTEGER},
                #{sendtime, jdbcType=TIMESTAMP}, #{type, jdbcType=INTEGER}, #{content, jdbcType=VARCHAR})
    </insert>

    <select id="getMessageListByThreeId" parameterType="map" resultType="com.agroup.store.domain.Message">
        select *
        from(
            select * from message
            where ( senderid = #{senderid} and receiverid = #{receiverid} and goodsid=#{goodsid})
                  or ( senderid = #{receiverid} and receiverid = #{senderid} and goodsid= #{goodsid})
            order by sendtime desc limit 200
            ) as T
        order by sendtime
    </select>
</mapper>